@charset "utf-8";

/* 基本レイアウト ここから↓ */

@import url(common.css);
body{
    height: 150%;
}
header, nav, #topicpath, #contents, footer{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    margin-bottom: 15px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
}
nav ul li{
    width: 210px;
    float: left;
}
nav ul li a{
    display: block; /* 表示形式の変更   インライン⇔ブロック*/
    height: 0;
    padding-top: 64px;
}
nav ul li#nav_introduction a{
    /*
        このファイルからの相対パス指定
    　　base.htmlからの相対パスではない。
     */
    background-image: url("../images/btn_navigation1.png");
}
nav ul li#nav_schedule a{
    background-image: url("../images/btn_navigation2.png");
}
nav ul li#nav_gallery a{
    background-image: url("../images/btn_navigation3.png");
}
nav ul li#nav_tickets a{
     background-image: url("../images/btn_navigation4.png");
}
/* 
    idセレクタの名前がmainの幅を610px、右マージン30px、フロート属性を左に設定しなさい。
*/

#main{
    width: 610px;
    margin-right: 30px;
    float: left;
}
#sub {
    width: 200px;
    float: right;
}

#main h1{
    margin: 0 0 30px 0;
    padding: 35px 20px 35px 20px;
    background-image: url("../images/h1_top.png") url("../images/h1_bottom.png");
    background-repeat: none none;
    font-size: 175%;
    text-align: center;     /* 横方向の設定 */
}
#introduction #nav_introduction a, #schedule #nav_schedule a, #gallery #nav_gallery a, #tickets #nav_tickets a, nav ul li a:hover{
    background-position: 0 -64;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「展覧会について」ページ ここから↓ */

/* 「展覧会について」ページ ここまで↑ */

/* 「スケジュール」ページ ここから↓ */

/* 「スケジュール」ページ ここまで↑ */

/* 「作品紹介」ページ ここから↓ */

/* 「作品紹介」ページ ここまで↑ */

/* 「前売り券申し込み」ページ ここから↓ */

/* 「前売り券申し込み」ページ ここまで↑ */
