:root {
    --screen-size: 800px;

}

header {
    width: var( --screen-size);
    height: 70px;
    margin: 20px auto 40px auto;
    position: relative
        /* 基準となるボックスを表す*/
}

header h1 {
    margin: 0;
    position: absolute;
    /* 基準となるボックスからずらす */
}

header nav {
    position: absolute;
    right: 0;
}

header ul {
    list-style-type: none;
    overflow: hidden;
}

header  li {
    float: left;
}

header a:hover{    /* 子孫セレクタ＋疑似クラス*/
    opacity: .1;   /* 不透明度　０－１　*/ 
}
/* 
子孫コンビネータ（子孫セレクタ）
　タグの親子関係の途中を飛ばしたものをいう
疑似クラス
　マウスが重なった時（hover）、・・・・
　同じ名前のセレクターの何番目　nth-child( )・・・
*/

footer p {
    background-image: url("../images/bg_footer.png");
    text-align: center;
}
